<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Breno\Banner\Api\BannerRepositoryInterface" type="Breno\Banner\Model\BannerRepository"/>
    <preference for="Breno\Banner\Api\Data\BannerInterface" type="Breno\Banner\Model\Banner"/>
</config>
